@import "compass";
@import "compass/css3";
@import "compass/css3/images";

@import "partials/bootstrap/variables";
@import "partials/bootstrap/mixins";

@import "partials/fonts";
@import "base/variables";
@import "base/mixins";

//$screen-lg 		: 1200;
//$screen-md 		: 979;
//$screen-sm 		: 768;
//$screen-sm - 1 	: 767;
//$screen-xs 		: 480;
//$screen-phone 	: 330;


@media (min-width: $screen-lg){
	
	/*FOUR IN A ROW TABLET*/
	.col-sm-5cols{
		width:23%;
	}

	/*FIVE IN A ROW TABLET
	.col-sm-5cols{
		width: 19%
	}*/
}

@media (max-width: 1199px){
	.col-sm-5cols{
		width:24%;
	}
}

@media (max-width: $screen-md) {
	
	.col-sm-5cols{
		width: 32%;
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-md){}

@media (max-width: $screen-sm - 1){
	.col-sm-5cols{
		width: 45%;
	}

	.galleries{
		text-align:center;
	}
}

@media (max-width: $screen-xs) {}

@media (max-width: $screen-phone){
	
	.col-sm-5cols{
		width:80%;
	}
}







