body{
	background:$magenta-dark;
	font:13px/1.4 'Open Sans', sans-serif;
	color:#58585d;
	font-weight:normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

#mainwrapper{
	background:white;
	@include box-shadow(0, 0, 10px #1a152c);
	@include border-radius(10px);
	margin-bottom:60px;
	padding-bottom:40px;

	&:before, &:after {
	  content: " ";
	  display: table;
	}
	&:after {
	  clear: both;
	}
}

.mainInner{
	@media (min-width : $screen-md-min){
		padding-right:30px;
		padding-left:30px;
	}
}

ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}


/* ======== TYPO ======== */
.color-mgenta{
	color:$magenta-dark
}

/* ======== BTN & LINK ======== */
.link{
	color:$ourple;
	@include prefixed(transition, color 0.2s linear);
	@include inline-block();
	&:hover{
		color:#453874;
		@include opacity(0.7);
	}
}

.btn-more{
	background:none;
	border:none;
	@include inline-block();
	background:darken($grey, 10%);
	color:$font-color;
	text-align:center;
	padding: 8px 25px;
	@include border-radius(8px);
	text-transform:uppercase;
	@include prefixed(transition, all 0.3s ease-out);

	&:hover{
		text-deoration:none;
		background:$magenta-dark;
		color:white;
		text-decoration:none;
	}
}

/* ======== FORM ======== */
label{
	font-weight:normal;
	text-transform:uppercase;
}

.form-control{
	color:$magenta-dark;
	@include border-radius(8px);
	border:none;
	border:1px solid #d4d3d4;
	@include box-shadow(none);
	height:32px;
	background:#eeecf0;
}
.form-group{
	margin-bottom:10px;
}


.btn-blue{
	background:none;
	border:none;
	background:#453874;
	color:white;
	@include border-radius(8px);
	text-transform:uppercase;
	@include prefixed(transition, all 0.2s ease-out);
	@include inline-block();
	padding:5px 15px;
	text-decoration:none;
	font-size:17px;

	&:hover{
		text-decoration:none;
		@include opacity(0.7);
	}
}

/* ======== MARKUP ======== */
.roundGrey{
	background:$grey;
	padding:20px 25px;
	@include border-radius(18px);
	margin-bottom:25px;
	overflow:hidden;
}

.centered{
	margin-right: auto;
	margin-left: auto;

	@media (min-width : $screen-md){
		width: 85%;
	}

}

/* ========ADD GRID  (Five col in a row) ======== */
//add with col-xs-6 together
.col-sm-5cols{
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;

  @media (min-width: 768px) {
      width: 16%;
      float: left;
  } 
}

/* ======== TITLE ======== */
.title-sm{
	text-transform:uppercase;
	text-align:center;
	color:$font-color;
	margin:0;
	margin-bottom:22px;
	font: 600 14px 'Open Sans', sans-serif; 
}

.title-round{
	font: 400 18px 'Open Sans', sans-serif; 
	@include inline-block();
	color:#58585d;
	background:$grey;
	text-transform: uppercase;
	padding:10px 25px;
	@include border-radius(11px);
	margin-bottom:21px;
}


.header-main{
	background:$grey;
	text-transform: uppercase;
	padding:10px 25px;
	@include border-radius(11px);
	margin-bottom:21px;
	overflow:hidden;
	@include inline-block();
	@include min-width(450px);

	.title-round{
		margin:0;
		float:left;
		padding:0;
		margin-right:50px;
	}

	small{
		float:right;
		margin-top:5px;
	}

}

.title-bg-sm{
	background:$grey;
	font: 400 14px 'Open Sans', sans-serif; 
	padding:10px 25px;
	@include border-radius(8px);
	margin:0;
	margin-bottom:21px;
	color:#58585d;
	text-transform: uppercase;
	@include inline-block();
	text-align:left;
}

/* ======== TABLE ======== */

.table{
	&.table-noborder{
	td
		{
			border:none;
		}
	}
}
