/*==========================================================================
  BLOG
========================================================================== */

.blog-article{
	@include make-md-column(9);
}


.itemblog{
	margin-bottom: $pixel * 4;
	padding-bottom: $pixel * 3;
	border-bottom:1px dotted #cecece;
	
	@media (min-width: $screen-md){
		border:none;
		padding-bottom:0;
	}

	figure{
		overflow:hidden;
		margin-right:$pixel * 3;
		text-align:center;
		margin-bottom:25px;
		
		@media (min-width: $screen-md){
			float:left;
			width:44%;
			max-width:368px;
		}

		img{
			@include border-radius(8px);
		}
	}

	.itemblog-desc{
		padding:25px 38px;
		background:$grey;
		@include border-radius(10px);

		@media (min-width: $screen-md){
			overflow:hidden;
		}

		header{
			margin-bottom:23px;
			h4{
				font-size:15px;
				text-transform:uppercase;
				margin:0;
				border-bottom:1px solid #e0dde8;
				margin-bottom:10px;
				padding-bottom:10px;
				color:$font-color;
			}

			.date{
				display:block;
				color:$font-color;
				font-size:11px;
				margin:0;
			}

		}
	}
}

.blog-post{
	
	figure{
		img{
			@include border-radius(12px);
		}
		margin-bottom:25px;
	}
}

