/*==========================================================================
  CONTACT
========================================================================== */
.f-contact{
	width: 75%;
	margin: 23px auto 30px auto;

	.btn-default{
		background:#eeecf0;
		border:1px solid #d4d3d4;
	}

	.btn-blue{
		font-size:18px;
	}
}

.inp-captcha {
	span {
		@include inline-block();
		padding: 7px 0;
		margin-right: 18px;
	}
	.form-control{
		width: 74%;
		max-width: 77%;
		@include inline-block();
	}
}

/*UPLOAD INPUT ADD STYLE*/
.bootstrap-filestyle.input-group{
	@include inline-block();
	margin-right:10px;
	float:left;
	margin-bottom:15px;
}

.group-span-filestyle{
	.btn.btn-default{
		background:none;
		border:none;
		text-decoration:none;
		font-size:15px;
		text-align:center;
		text-transform:uppercase;
		color:white;
		background:#453874;
		border:1px solid #dbdadc;
		padding: 6px 12px;
		@include border-radius(8px);
		@include prefixed(transition,opacity 0.2s linear);
		&:hover{
			@include opacity(0.6);
		}
	} 
}
