/*==========================================================================
  FOOOTER
========================================================================== */

#footer{
	position:relative;
	background:white;
	border-top:1px solid #e0dde8;
	border-bottom:1px solid #e0dde8;
	

	@media (min-width : $screen-lg-min){
		margin-left: -45px;
		margin-right: -45px;
	}

	.innerfoot{
		background:$grey;
		overflow:hidden;
		margin:15px 0; 
		padding:30px 73px;
		padding:30px 20px;

		@media (min-width : $screen-lg-min){
			padding:30px 73px;
		}
	}
}

.title-foot{
	font-size:15px;
	text-transform:uppercase;
	border-bottom:1px solid #e0dde8;
	margin:0;
	margin-bottom:15px;
	padding-bottom:12px;
}

.wdg-foot{
	@include make-md-column(3);

	@media (max-width : $screen-md-max){
		width:95%;
		margin:0 auto 35px auto;
		float:none;
	}

}

#footsrc{
	@include make-md-column(5);
	float:right !important;
	border-left:1px solid #e8e6ed;
	
	@media (max-width : $screen-md-max){
		float:none !important;
		width:95%;
		margin:0 auto;
		clear:both;
		border:none;
		margin-top:30px;

	}

	.form-control{
		background:white;
	}

	label{
		font-weight:normal;
		text-align:left;
		font-size:0.9em;
	}

	.btn-blue{
		padding: 5px 8px;
		font-size:14px;

		@media (max-width : $screen-md){
			font-size:17px;
			padding:5px 15px;
			display: block;
			float:none;
			width:auto;
			float:left;
			margin-left:15px;
			margin-top:30px;
		}

		@media (max-width : $screen-xs-max){
			margin:30px auto 0 auto;
			float:none;
		}
	}
}

#footlinks{
	overflow:hidden;
	.inside{
		padding-left:25px;
		@media (max-width : $screen-md-max){
			padding-left:0;
		}
	}
	ul{
		float:left;
		width:50%;

		&.lt{
			padding-right:15px;
		}

		li{
			display:block;
			margin-bottom:10px;
			a{
				color:$font-color;
				text-decoration:none;
				display:block;
				@include prefixed(transition,  all 0.2s linear);

				&:hover{
					color:#e510f8;
					text-decoration:none;
				}
			}
		}
	}
}