/*==========================================================================
  GALLERY
========================================================================== */

.select-glery{
	margin-bottom:15px;
	text-align:right;
	.form-group{
		@include inline-block();
		margin-left:15px;
		background:#f6f5f7;
		padding: 7px 22px;
		@include border-radius(14px);
		
		.btn.btn-default{
			background:white;
		}
	}

	label{
		margin-right: 13px;
	}
	.bootstrap-select{
		height:auto;

		> .btn{
			height:33px;
		}
	}
}

.galleries{
	text-align:center;

	&.left{
		text-align:left;
	}
	li{
		margin-bottom:24px;
		@include inline-block();
		float:none;
		text-align:center;
	}
	.innergalery{
		background:#f6f5f7;
		padding:15px;
		text-align:center;
		@include prefixed(transition, all 02s linear);
		@include border-radius(15px);
		overflow:hidden;

		a:hover{
			text-decoration:none;
		}

		&:hover{
			figure {
				@include opacity(1);
			}

			.name{
				color:#06abfc;
			}
		}
	}

	figure{
		margin:0 auto 12px auto;
		@include border-radius(10px);
		position:relative;
		text-align:center;
		max-width:174px;
		overflow:hidden;
		@include opacity(0.9);
		@include prefixed(transition, all 0.3s linear);

		.imgNoFill{
			@include size(190px, 2px);
			margin:0 auto;
		}

		img{
			@include size(auto, 220px);
			margin:0 auto;
			@include border-radius(10px);			
			border:7px solid #eeecf0;
			
		}
	}
	.name{
		margin-bottom:0;
		font-size:$pixel + 6;
		color:#756b98;
		font-size:11px;

		strong{
			font-weight:600;
			display:block;
			font-size:14px;
			margin-bottom:5px;
		}
	}

	.ribbon{
		position:absolute;
		top:7px;
		right:7px;
		background:#6d5e83;
		color:white;
		@include inline-block();
		padding:6px 12px;
		text-transform:uppercase;
		font-size:13px;
		@include border-corner-radius(top, right, 4px);
		@include border-corner-radius(bottom, left, 10px);
	}
}
