/*==========================================================================
  HEADER
========================================================================== */
#header{
	position:relative;
	z-index:4;
	margin-bottom:$pixel * 4;

	.top{
		border-bottom:1px solid #615689;
	}
}
#topright{
	color:white;
	float:right;
	position:relative;
	z-index:5;
	padding: 10px 20px 10px 0;

	@media (max-width : $screen-xs-min - 1){
		text-align:center;
		float:none;
		margin-bottom:20px;
		position:inherit;
	}

	.share{
		@include inline-block();
		border-right:1px solid #766c98;
		padding-right: 15px;
		margin-right: 15px;

		@media (max-width : $screen-xs-min - 1){
			border:none;
			margin:0;
			padding:0;
			margin:20px auto 25px auto;
			display:none;
		}

		li{
			@include inline-block();
			margin: 0 5px;
		}

		a{
			@include inline-block();
			@include square(24px);
			background:image-url('social.png') 0 0 no-repeat;
			@include prefixed(transition, opacity 0.3s ease-out);
			&:hover{
				@include opacity(0.7);
			}
			&.instag{
				background-position:-31px 0;
			}
			&.twee{ background-position:-61px 0;}
		}
	}
	.phone{
		@include inline-block();
		position:relative;
		font-weight:700;
		color:white;
		font-size:18px;
		margin-bottom:0;
		.outgrid{
			position:absolute;
			bottom: -30px;
			right: 5px;
			color:$magenta-dark;
			font-size:14px;
		}

		@media (max-width : $screen-xs-min - 1){
			@include inline-block();
			position: absolute;
			top: 11px;
			left:10px;
			z-index:1;

			 .outgrid{
			 	position:relative !important;
			 	color:white;
			 	bottom:0;
			 	right:0;
			 	display:none;
			 }
		}
	}


}

#logo{
	padding:0 15px;
	min-height:1px;
	text-align:center;
	width:auto;
	@media (min-width : $screen-lg-min){		
		width:25%;
		float:left;
	}
}

.timeopen{
	font-size:11px;
	color:#58585d;
}