/*==========================================================================
  LINKS
========================================================================== */

.link-leftext{
	@include make-sm-column(6);

	figure{
		text-align:center;
		@include prefixed(transition, .3s linear);
		&:hover{
			@include opacity(0.7);
		}
		img{
			border:15px solid #eeecf0;
			@include border-radius(8px);
		}
	}
}
.f-banerinfo{
	@include make-sm-column(6);
}

.link-list{
margin-top:40px;
	ul{
		li{
			display:block;
			text-align:center;
			margin-bottom:25px;
			@include prefixed(transition, .3s linear);
			&:hover{
					@include opacity(0.7);
				}
			a{
				text-decoration:none;
				color:#58585d;				
			}

			figure{
				margin-bottom:7px;
				display:block;
			}
			small{
				font-size:12px;
			}
		}
	}
}