/*==========================================================================
  MAIN
========================================================================== */

#main{
	padding-bottom:57px;
	&:before, &:after {
	  content: " ";
	  display: table;
	}
    &:after {
	 clear: both;
	}
}

#thumb-grid{
	margin-bottom:70px;
	overflow:hidden;

	@media (min-width: $screen-sm){
		margin-bottom:30px;
	}
	@media (min-width: $screen-lg){
		margin-bottom:70px;
	}
}

.grid-left{
	overflow:hidden;
	width:auto;
	text-align:center;

	@media (min-width: $screen-sm){
		width: 75.6%;
		margin:0 auto;
	}
}

.imgRotatewrap{
	@include square(198px);
	@include inline-block();
	margin:0 -2px;

	
	@media (max-width: $screen-xs-max){
		@include size(160px , 150px )
	}

	@media (max-width: $screen-xs-max - 198px){
		@include size(146px , 146px)
	}
		
	@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
		@include size(110px, 117px);
	}

	@media (min-width:$screen-md){
		@include size(134px, 143px)
	}

	@media (min-width: $screen-lg){
		float:left;
		display:block;
		margin:0;
		padding:0;
		@include square(198px);
	}
}

.imgRotate{
	position:relative;
	@include size(100%, 100%);
	img {
		margin: auto;
		max-width: 100%;
		max-height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.grid-right{
	position:relative;
	width:100%;
	text-align:center;
	margin-bottom:40px;
	float:none;
	figure{
		@include size(100%, auto);
		overflow:hidden;
		position:relative;

		img{
			position: relative;
			top: 0;
			left: 0;
			@include transform(translate(0));
			background:#453874;
		}
	}

	@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
		float: right;
		width:24%;
	}

	@media (min-width: $screen-lg){
		width: 24.4%;
		text-align: left;
		float: right;
		margin-bottom:0;
		figure{
			height:396px;
			img{
				left: 50% \9;
				top: 50% \9;
				left: 50%;
				top: 50%;
				@include transform(translate(-50%,-50%));
			}
		}
	}
}

.featured-side{
	@include make-sm-column(5);
	@include make-md-column(3);
}

.featurebox{
	text-align:center;
	img{
		border:1px solid #bfbacf;
		@include border-radius(20px);
		//max-width:235px;
		margin-bottom:13px;
	}

	.caption{
		font-size:12px;
		strong{
			display:block;
			font-size:14px;
			font-weight:normal;
			margin-bottom:10px;
		}
	}
}

.condition{
	line-height:1.6em
}

.flogin{
	width:auto;
	margin:0 auto 20px auto;
	@media (min-width : $screen-lg){
		width:87%;
	}
	label{
		color:$magenta-dark;
	}

	.form-control{
		background:white;
	}

	@media (min-width : $screen-sm) and (max-width :$screen-md-max ){
		label{
			margin-bottom:10px;
			text-align:left !important;
		}
		label, div{
			float:none;
			width:100%;
		}
		.form-group{
			margin-right:0;
			margin-left:0;
			padding:0;
		}	
	}
}

#homedesc{
	@include make-sm-column(7);
	@include make-md-column(5);
	color:$magenta-dark;
	text-align:center;
	color:$magenta-dark;
	h5{
		font-size:18px;
		text-align:center;
		margin:0;
		margin-bottom:$pixel * 2;
	}

	@media (max-width:$screen-md-min){
		margin-bottom:50px;
	}
}

.side-memb-login{
	@include make-sm-column(12);
	@include make-md-column(4);
}