/*==========================================================================
  NAVIGATION
========================================================================== */

#navigation
{
	padding: 0 15px;
  	min-height: 1px;
	width:auto;
	text-align:center;
	@media (min-width : $screen-lg-min){		
		width:75%;
		float:left;
		text-align:left;
	}
	ul{
		list-style:none;
		position:relative;
		margin:0;
		padding:0;

		a{
			@include inline-block();
			text-decoration:none;
			font-size:13px;
			font-family:'Open Sans', sans-serif;
			line-height:1.4em;
			font-weight:600;
			padding: 32px 7px;
			
			@media (min-width : $screen-lg){
				padding: 32px 26px;
			}

			color:#58585d;
			@include prefixed(transition, all 0.3s ease-out);
			position:relative;
			&:hover{
				background:rgba($magenta-clean, 0.3);

				&:before{
					content:'';
					position:absolute;
					left:0;
					top:-44px;
					@include size(100%, 44px);
					background:rgba($magenta-clean, 0.3);

					@media (max-width : $screen-md-max){
						display:none;
					}
				}
			}
		}

		li{
			position:relative;
			@include inline-block();
			margin:0;
			padding:0 5px;

			&:hover{
				> ul{
					display:block;
				}
			}

			&.current{
				a{
					background:rgba($magenta-clean, 0.3);
					&:before{
						content:'';
						position:absolute;
						left:0;
						top:-44px;
						@include size(100%, 44px);
						background:rgba($magenta-clean, 0.3);
					}
				}
			}
		}

	   //DROPDOWN
		ul{
			display:none;
			position:absolute;
			top:100%;
			left:5px;
			background:$magenta-clean;
			padding:0;

			li{
				float:none;
				width:200px;
				padding:0;
				border-bottom:1px solid #d6d2de;
				text-align:left;
			}

			a{
				padding:10px 15px;
				display:block;
				color:#76688e;
				font-weight:400;
				&:before{
					display:none;
				}
			
				&:hover{
					background:$magenta-light ;
					color:white;
				}
			}

			 ul{
				top:0;
				left:100%;
			}
		}

	}

	#pull{
		display:none;
	}
}

.slicknav_menu {
	display:none;
}

@media screen and (max-width:$screen-sm - 1) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

@import "slicknav";