/*==========================================================================
  PORTOFOLIO
========================================================================== */
.btn-porto-nextop{
	margin-bottom:30px;
	text-align:right;
	a{
		@include inline-block();
		color:$font-color;
		text-transform:uppercase;
		@include border-radius(11px);
		font-size: 17px;
    	padding: 10px 21px;
		background:#f6f5f7;
		i.fa{
			color:#ccc8d8;
		}

		&:hover{
			text-decoration:none;
		}
	}
}

.porto-thumb{
	float:left;
	width:60%;
	text-align:center;
	
	@media(max-width : $screen-md-max){
		width:55%;
	}

	@media(max-width : $screen-sm-max){
		float:none;
		width:100%;
		margin-bottom:40px;
	}

	
	figure{
		@include size(428px, 600px);
		@media(max-width : $screen-md-max){
			@include square(auto);
		}
	}
	img{
		@include border-radius(15px);
		border:1px solid #bebacd;
		position: relative;
		left: 0 \9;
		top: 0 \9;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%,-50%));

		@media(max-width : $screen-md-max){
			left: 0;
			top: 0;
			@include transform(translate(0));
		}

	}
}


.porto-galleries{
	width:40%;	
	text-align:center;
	overflow:hidden;

	@media(max-width : $screen-md-max){
		float:right;
	}

	@media(max-width : $screen-sm-max){
		float: none;
		margin: 0 auto;
		width:320px;
	}
	@media(max-width : $screen-sm-max){
		width:auto;
	}
}

.owl-carousel{
	background:#eeecf0;
	@include border-radius(15px);
	.item{
		width:100%;
		@include border-radius(20px);
		padding:10px;
		figure{
				margin:8px 10px;
				@include inline-block();
				width:132px;
				height:auto;
				overflow:hidden;
				@include border-radius(15px);
				position:relative;
				padding:2px;
				text-align:center;

				@media(max-width : $screen-xs-max){
					
				}
				@media(max-width : $screen-sm-max){
					@include square(auto);
					width: 45%;
					margin:15px auto;
					display:block;
					border:1px solid #bebacd;
				}

				@media(max-width : $screen-xs-max){
					width: 45%;
				}
			}

		img{
			@include border-radius(15px);
			cursor:pointer;
			border:1px solid #bebacd;
			position:relative;
		}
	}
}

.owl-controls .owl-buttons{
	text-align:right;
	.owl-prev{
		display:none;
	}

	.owl-next{
		font-size:19px;
		text-transform:uppercase;
		color:#58585d;
		@include inline-block();
		background:image-url("arr_nav.png") right center no-repeat;
		vertical-align:middle;
		padding:22px 0;
		padding-right:50px;
		text-align:left;
		@include transition(prefixed, all 0.3s linear);
		margin-right:15px;

		&:hover{
			color:#453874;
		}

	}
}

.porto-share{
		text-align:right;
	p{
		@include inline-block();
		background:#f6f5f7;
		@include border-radius(12px);
		padding:10px 15px;

	}
	a{
		@include inline-block();
		@include size(19px, 17px);
		background-repeat:no-repeat;
		background-position:0 0;
		margin:0 4px;

		&.fb{
			background-image:image-url("share1.png");
		}
		&.tw{
			background-image:image-url("share2.png");
		}
		&.pintrest{
			background-image:image-url("share3.png");
		}
		&.plus{
			background-image:image-url("share4.png");
		}
	}
}