/*==========================================================================
  SIDEBAR
========================================================================== */

#aside{
	@include make-md-column(3);
	.aside-in{
		@media (min-width : $screen-lg){
			padding-left:30px;
		}
	}
}

.aside-feature{
	text-align:center;
	padding:15px 20px;
	background:$grey;
	margin-bottom:30px;
	@include border-radius(10px);
	@incude prefixed(transition, linear .2s ease-out);
	a{
		text-decoration:none;
		color:$magenta-dark;
		@include prefixed(transition, .3s ease-out);

		&:hover{
			text-decoration:none;
		}
	}
	h5{
		font-size:14px;
		color:$font-color;
		margin:0;
		text-transform:uppercase;
		margin-bottom:$pixel + 8;
	}

	figure{
		margin-bottom:$pixel + 2;
		@include prefixed(transition, linear .3s ease-out);
		&:hover{
			@include opacity(0.6);
		}
		img{
			border:10px solid #eeecf0;
			background: $magenta-dark;
			@include border-radius(17px);
		}	
	}

	.name{
		color:$magenta-dark;
		text-transform:uppercase;
		display:block;
		font-size:14px;
	}
}

.aside-box{
	padding:15px 20px;
	background:$grey;
	margin-bottom:30px;
	@include border-radius(17px);
}

.aside-list{
	li {
		display:block;
		margin-bottom:10px;
		a{
			color:$font-color;
			&:hover{
				color:$magenta-dark;
				text-decoration:underline;
			}
		}
	}
}

.aside-title{
	margin:0;
	font-size:14px;
	margin-bottom:$pixel * 2;
	text-transform:uppercase;
	text-align:center;
	color:$font-color;
}

.aside-porto{
	h4{
		text-transform:uppercase;
		font-size:20px;
		color:$font-color;
		margin:0;
		margin-bottom:18px;
		padding:8px 15px;
		text-align:center;
		background:#eeecf0;
		@include border-radius(20px);
	}
}

.aside-table{
	color:$magenta-dark;
	.table{
		td{
			border:none;
			color:$magenta-dark;
		}
	}	
}